/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    font-family: 'Segoe UI', Roboto, 'Open Sans', Helvetica, sans-serif;
    background: #f0f8ff;
    color: #333;
    
  }

  body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #000000;
    color: #ffffff;
}

.app-container {
    transition: background-color 0.3s, color 0.3s;
}

  
 .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

 .app-container.dark{
    background: #333;
    color:#fff;
  }